<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Login Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-item lines="full">
    <ion-list>
      <ion-label position="floating">Username</ion-label>
      <ion-input type='text' [(ngModel)]="username"></ion-input></ion-list>
  </ion-item>
  <ion-item>
    <ion-list>
      <ion-label position="floating">Password</ion-label>
      <ion-input type='password' [(ngModel)]="password"></ion-input>   
    </ion-list>
  </ion-item><br>
  
  <ion-button color='danger' (click)="signin()">Login</ion-button><br><br>
  <a href='forgot-password'>Forgot Password?</a>
  
</ion-content>

